/*
* Krissy Kanu
* Due Date
* Table */

/* The universal selector */

* {

}

/* Body properties here */

body {

}

table, td, th { border: 1px solid blue; }

table { border-collapse: collapse; }

thead { background-color: bisque; }

tfoot { background-color: cornflowerblue; }